<a href="https://colab.research.google.com/github/gauravsax1911/tensk/blob/main/SimpleLinearRegressionModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import numpy as np
import pandas as pd
import matplotlib as mpl

In [18]:
df = pd.read_csv('/content/House_Price.csv',header=0)
df.head()

   price  crime_rate  resid_area  ...  rainfall  bus_ter     parks
0   24.0     0.00632       32.31  ...        23      YES  0.049347
1   21.6     0.02731       37.07  ...        42      YES  0.046146
2   34.7     0.02729       37.07  ...        38      YES  0.045764
3   33.4     0.03237       32.18  ...        45      YES  0.047151
4   36.2     0.06905       32.18  ...        55      YES  0.039474

[5 rows x 19 columns]

In [19]:
import statsmodels.api as sn

In [20]:
X= sn.add_constant(df['room_num'])

In [21]:
lm = sn.OLS(df['price'],X).fit()

In [22]:
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.485
Model:                            OLS   Adj. R-squared:                  0.484
Method:                 Least Squares   F-statistic:                     474.3
Date:                Tue, 05 Jan 2021   Prob (F-statistic):           1.31e-74
Time:                        12:06:17   Log-Likelihood:                -1671.6
No. Observations:                 506   AIC:                             3347.
Df Residuals:                     504   BIC:                             3356.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -34.6592      2.642    -13.118      0.000     -39.850     -29.468
room_num       9.0997      0.418     21.779      0.000       8.279       9.921
==============================================================================
Omnibus:                      103.753   Durbin-Watson:                   0.681
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              633.429
Skew:                           0.729   Prob(JB):                    2.84e-138
Kurtosis:                       8.284   Cond. No.                         58.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [16]:
from sklearn.linear_model import LinearRegression